* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color: #1f2937;
    padding-bottom: 120px;
}

header {
    width: 1200px;
    margin: auto;
}

.head {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.body{
    margin-top: 150px;
}

.ojo{
    width: 500px;
}

.body h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.text{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.head-logo{
    font-size: 24px;
    color: #f9faf8;
}


.image{
    width: 570px;
    height: 250px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    margin-left: 50px;
}

.button{
    margin-top: 15px;
    background-color: #3882F5;
    border: none;
    color: white;
    padding: 7px 25px;
    text-align: center;
    font-weight: 500;
    border-radius: 5px;
}

.information{
    display: flex;
    flex-direction: column;
}

.info-text{
    margin: 50px 0;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.info-box{
    width: 150px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #1f2937;
}

.info-boxes{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.box{
    width: 150px;
    height: 150px;
    border: solid 2px #3882F5;
    border-radius: 6px;
}